@model IEnumerable<TiendaCarrito.Models.Categoria>

@{
    ViewBag.Title = "Categoria";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCategoria }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdCategoria }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCategoria })
        </td>
    </tr>
}

</table>
